<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div>
    <ul>
        <% for (var i=0;i<news.length;i++){
        if(news[i].count>=10){
        %>
        <li><%=news[i].new %></li>
        <%  }
        }
        %>
    </ul>
</div>
</body>
</html>